<!DOCTYPE html>
<html class="html" lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Plants Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopMVC2.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script async src="~/js/theme.js"></script>
<body onload="setTheme()">
    <header class="sticky-top">
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div style="display:inline-flex;">
                    <a class="navbar-brand" href="/"><img class="logo" src="/img/icons8-flower-64.png" /></a>
                    <div id="checkbox" style="margin-top:0.7rem;">
                        <i style="color: #1e8a42;margin-inline:0.2rem;" class="fa-solid fa-circle-half-stroke"></i>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
                <div style="display:inline-flex;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div style="margin-top:0.1rem;" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul role="navigation" class="navbar-nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link" href="/UserOrder/UserOrders">My orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Products">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div style="margin-top: auto;" class="container container-footer">
            &copy; 2024 - ShopMVC2 - <a href="">Privacy</a>
        </div>
    </footer>
    <script defer src="~/js/layout.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        loadCartCount()
        async function loadCartCount(){
            try{
                var response = await fetch(`/Cart/GetTotalProductInCart`)
                if(response.status === 200){
                    var result = await response.json()
                    var cartCountEl = document.getElementById('cartCount')
                    cartCountEl.innerHTML = result
                }
            }
            catch(err){
                console.log(err)
            }
        }
    </script>
</body>
</html>

@await RenderSectionAsync("Scripts", required: false)
