@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<h1 style="text-align:center;">Checkout</h1>
<form asp-action="Checkout">
    <div class="mt-3">
        <input placeholder="Name" type="text" maxlength="30" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <input placeholder="Email" type="text" maxlength="40" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <input type="tel" placeholder="+7(999) 999-9999" id="phone" class="form-control" asp-for="MobileNumber" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <textarea placeholder="Address" maxlength="200" type="text" class="form-control" asp-for="Address" rows="5"> </textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <select asp-for="PaymentMethod" class="form-control" style="text-align:center;">
            @foreach (var method in Enum.GetValues(typeof(ShopMVC2.Constants.PaymentMethod)))
            {
                <option value="@method.ToString()">@method.ToString()</option>
            }
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>
    <div style="margin-block:1rem;text-align: center;">
        <button type="submit" class="btn btn-success">Confirm</button>
    </div>
</form>
<script async src="~/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

<script>
      $("#phone").mask("+7(999) 999-9999");
</script>


