@{
    ViewData["Title"] = "OrderSuccess";
}

<h1 style="text-align:center;">Thanks for your order @TempData["OrderName"] !</h1>

<div style="text-align:center; margin-block: 1rem;">
    <a href="/UserOrder/UserOrders">
        <img style="width:2rem;" src="/img/icons8-purchase-order-48.png" />my orders
    </a>
</div>
