html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Kanit", serif;
}

#checkbox i {
    padding: 0.4rem;
}

    #checkbox i:hover {
        opacity: 0.7;
    }

#checkbox:hover {
    cursor: pointer;
}

.carousel-control-next-icon {
    background-color: #6d6d6d;
    border-radius: 6px;
    width: 4rem;
    height: 1.7rem;
    opacity: 0.6;
}

.carousel-control-prev-icon {
    background-color: #6d6d6d;
    border-radius: 6px;
    width: 4rem;
    height: 1.7rem;
    opacity: 0.6;
}

.nav-link {
    color: #1c703f;
    margin-top:0.1rem;
    cursor: pointer;
}

    .nav-link:hover {
        color: #23b746;
    }

.btn-link {
    color: #1c703f;
}

    .btn-link:hover {
        color: #23b746;
    }

a {
    color: #1c703f;
}
    a:hover {
        color: #23b746;
    }

.form-check-input:checked {
    background-color: #23b746;
    border-color: #1c703f;
}

.logo {
    width: 2.3rem;
    margin-inline: 1rem;
}

    .logo:hover {
        filter: drop-shadow(0px 0px 2px #19c279);
    }


.fa-cart-shopping {
    cursor: pointer;
}

.form-select {
    border: 2px #1c703f solid;
}

    .form-select:focus {
        border: 2px #23b746 solid;
        box-shadow: none;
    }

.form-control {
    border: 2px #1c703f solid;
}

    .form-control:focus {
        border: 2px #23b746 solid;
        box-shadow: none;
    }

.btn-success:focus{
    box-shadow: none;
    outline: none;
}
.btn-success:active {
    box-shadow: none;
    outline: none;
}
select{
    cursor: pointer;
}
.cart-counter {
    font-weight: bold;
    background-color: #f6bc00;
    font-size: 9px;
    border-radius: 10px;
    padding: 0.2rem;
    margin-inline: 0.01rem;
    margin-bottom: 0.2rem;
}

.fa-right-from-bracket{
    color: #1e8a42;
    margin-top: 0.3rem;
}
.btn-back {
    font-family: "Kanit", serif;
    font-size: medium;
}
.btn-logout {
    font-family: "Kanit", serif;
    font-size: medium;
}
.input-group{
    max-width: 10rem;
}
.price-filter-icon{
    margin-top: 0.5rem;
    margin-inline: 0.3rem;
}
.offcanvas-search{
    max-width: 12.5rem;
}

.img-table{
    width: 8rem;
    border: 1px solid #6d6d6d;
    border-radius: 10px;
}
.full-card-img{
    width: 100%;
    border-radius: 10px;
}
.price-icon {
    text-align: center;
    line-height: 100px;
    background-image: url(../img/Price.png);
    background-size: cover;
    height: 50px;
    width: 150px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 10px #000000);
    margin-bottom: 1rem;
}
    .price-icon > h3 {
        bottom: 1rem;
        line-height: 170%;
        color: forestgreen;
    }
.col-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-light {
    background-image: url(../img/toplight.jpg);
    background-size: cover;
}
.top-dark {
    background-image: url(../img/topdark.jpg);
    background-size: cover;
}
.modal-backdrop {
    z-index: -1;
}
i {
    filter: drop-shadow(0px 0px 1px #000000);
}
.small-collapse{
    display: block;
}
.large-collapse {
    display: none;
}
.table-orders {
    width: 100%;
    font-size: 10px;
    margin-inline: 0;
}
.tr-all-orders {
    word-break: break-all;
}
    .tr-all-orders td {
        min-width: 20ch;
    }
main{
    text-align: center;
    align-items: center;
}
.table-orders-mobile{
    display: none;
}
.col-sm-2{
    border-top: solid 0.4px;
}
.modal-content {
    -webkit-box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.5);
}
@media(max-width: 538px) {
    .table-orders{
        display: none;
    }
    .table-orders-mobile{
        display: block;
    }
}
@media(min-width:992px) {
    .large-collapse{
        display: block;
        font-size: smaller;
    }
    .small-collapse{
        display:none;
    }
    .table-orders {
        font-size: small;
    }
}