@model IEnumerable<Product>
@using ShopMVC2.Models
@using WebApplication1.Areas.Identity.Data

@{
    ViewData["Title"] = "";
}

<div class=" mt-4 w-100 d-flex flex-wrap justify-content-center">
    @foreach (var product in Model)
    {
        <div class="card mx-2 mb-4" style="width: 19rem;">
            @if (@product.ProductImage == null)
            {
                <img src="/img/No_Picture.jpg" class="card-img-top" alt="">
            }
            else
            {
                <img src="/img/@product.ProductImage" class="card-img-top" alt="">
            }
            <div class="card-body">
                <h5 class="card-title">@product.ProductTitle</h5>
                <p class="card-text">@product.ProductTypeTitle </p>
                <p class="card-text">@product.Price</p>
                <a href="#" class="btn btn-success align-content-center">Add to cart</a>
            </div>
        </div>
    }
</div>

