@using WebApplication1.Areas.Identity.Data
@model ApplicationUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome @ViewData["UserName"]</h1> *@
    @if (Model is not null)
    {
        <h2>Welcome @Model.FirstName @Model.LastName !</h2>
    }
</div>
